{% extends 'restate/base.html' %}
{% block content %}
<style>
.costumer-satis{
                height:400px;
                display:grid;
                {% load static %}
                background-image: url("{% static "images/solar-house.png" %}");
                background-size:cover;
                background-repeat: no-repeat;
                background-attachment: fixed;

              }

.grid{
     background-color:grey;
}

              mark{
              background-color:grey;
              color: white;
               opacity: .8;
              }
              .cs-texts h2{

              padding-top:50px;
              padding-right:70px;

              font-style:italic;
            }
   @media only screen and (max-device-width: 480px) {
.cs-texts h2 {
    padding-top: 168px;
    padding-right: 10px;
    font-style: italic;
}
.row .col.s8 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.s4 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
div.row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
@media only screen and (max-device-width: 768px) {
.row .col.s3 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
   }
    </style>
<div class="costumer-satis">
 <div class="cs-texts"><h2 style="text-align:right;"><mark> Expertise,Quality and <br>Commitment makes<br>Estate Builders<br>
    the most trusted Company</mark></h2>
    </div>
</div>
<div class="about">

<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">

            <div class="col s8">
                <h3 style="color:green;"><b>ABOUT ESTATE //</b></h3>
                <h4 style="color:grey;"><b>The place, the people and their penchant for quality lifestyle makes Estate</b></h4>
<p style="font-size:17px;">Estate construction incepted in 2008 and since then the organisation has been <br>setting benchmarks in the industry in terms of unprecedented quality, design,<br> innovation and trust. We are known for our innovative approach and creative <br>modelling of each project which gains its ground from the exceptions of our clients.</p>
                <p style="font-size:17px;">Visibility and credibility go hand-in-hand in all our projects. It's perhaps due to our<br> dedication and commitment towards satisfying our customers that Estate has<br> been the first choice for anyone who is looking for quality.</p>
            </div>
<div class="col s4">
     <div class="card-panel brown lighten-5 z-depth-1">
<h4 style="font-size:18px;font-style:italic; color:brown;">" A balanced fusion of consistent pursuit<br> for quality and on-time delivery,<br> sensitivity towards customer needs has<br> enabled Estate to attain and sustain<br> a respectable position in the<br> construction industry. Proven track<br> record of customer delight through<br> completing projects within the<br> stipulated time, adhering to all quality<br> requirements is an insignia of<br> Estate's services. "
</h4> </div></div>

          </div>

 <div class="row">
    <div class="col s12">
      <div class="card grey lighten-5">
        <div class="card-content">
            <span class="card-title" style="font-size:25px;color:orange;"><b>Expertise</b></span>
            <h4><b>More Than a Builder, We’re Your Business Partner</b></h4>
            <p>The Estate Builders offers construction expertise in three core product lines — Commercial, Industrial and Heavy Industrial — and has built projects in all 50 states. We are committed to superior quality, value and complete customer satisfaction by developing collaborative relationships with clients, designers, partners, subcontractors and suppliers.</p>
        </div>
      </div></div></div>

<div class="row">
    <div class="col s12">
      <div class="card grey lighten-5">
        <div class="card-content">
            <span class="card-title" style="font-size:25px;color:orange;"><b>Our Purpose & Vision
</b></span>
            <h4><b>Leaders who serve and influence our community need a trusted partner who believes in their mission and can co-create venues to achieve it. It’s why we exist!</b></h4>
            <p>Our vision is to be known as the building leader that advocates for the foundation of a happier, healthier community. By 2028, 120,000 families each week will pray, live, learn, heal, or play in venues we’ve built.</p>
        </div>
      </div></div></div>
            <div class="row">
    <div class="col s12">
      <div class="card grey lighten-5">
        <div class="card-content">
            <span class="card-title" style="font-size:25px;color:orange;"><b>Leadership</b></span>
            <h4><b>More Than a Builder, We’re Your Business Partner</b></h4>
            <p>Our executive leaders know more than just construction — they understand how to motivate and encourage excellence. These distinct qualities have been defining factors that have allowed Weitz to innovate and grow throughout its history.</p>
        </div>
      </div></div></div>
             <div class="grid">
                 <center><h4 style="padding-top:20px;font-size:23px;color:white;"><b>Our Goals</b></h4></center>
             <div class="row">
    <div class="col s3">
      <div class="card whitesmoke lighten-5">
        <div class="card-content">
         <center>
              <img src="{% static "images/logo1.PNG" %}" alt="" >
             <span class="card-title" style="font-size:20px;color:orange;"><b>TRANSPARENCY</b></span>
         </center>      <p>Estate Builders is a company which stands by its name for Clear Title Deeds, Quality Construction and Time Schedule. All projects are approved by the respective authority for construction depending upon the project location.</p>
        </div>
      </div></div>
             <div class="col s3">
      <div class="card orange lighten-1">
        <div class="card-content">
        <center>
             <img src="{% static "images/planning.png" %}" alt="" >
            <span class="card-title" style="font-size:20px;color:white;"><b>TRUSTWORTHY</b></span>
<p>Brand reputation is the trustworthiness, integrity, and honesty people hold toward a builder. A builder with a poor reputation garners low trust. In turn, a builder with low trust is unable to generate the same level of interest as a builder with high trust.</p>
        </center>     </div>
      </div></div>
             <div class="col s3">
      <div class="card whitesmoke lighten-5">
        <div class="card-content">
         <center>
              <img src="{% static "images/projects.png" %}" alt="" >
             <span class="card-title" style="font-size:20px;color:orange;"><b>QUALITY</b></span>
<p>Quality Management is an integrative philosophy of management for continuously improving the quality of products to be used in the construction and processes.In turn, a builder with low trust is unable to generate the same level of interest.</p>
         </center>      </div>
      </div></div>
             <div class="col s3">
      <div class="card orange lighten-1">
        <div class="card-content">
        <center>
              <img src="{% static "images/quality1.png" %}" alt="" >
            <span class="card-title" style="font-size:20px;color:white;"><b>AFFORDABILITY</b></span>
<p>A measure of a population's ability to afford to purchase a particular item, such as a house, indexed to the population's income. Some households may choose to spend more on housing because they feel they can afford to, while others may not have a choice.</p>
        </center>    </div>
      </div></div>
             </div></div>
        </div></div></div>

{% endblock %}