{% extends 'restate/base.html' %}
{% block content %}
<style>


    </style>

<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">

            <div class="col s8">
                <i><h3 style="color:red">Estate</h3></i>
                <p style="font-size:13px;">Hi Thank you for your interest in the Estate Group Housing Option.
                Please find the details of the Estate and stepsas how we would realise
                the dream of owning a home at almost 40% less than Market Price.</p>
                <p style="font-size:13px;">As you must be aware, we started off with the idea of Estate Group
                Housing by buying a plot by ourselves and then<br> constructing on the same.
                However, member meetings have shown more inclination towards tangible
                and hence we have approached Builders to partner with us in this Venture.</p>
           <ul>
               <li><b><a href="#"><p style="color:maroon;font-size:14px;"> Finally a Estate Housing Project - with Builder - Buyer Model
                   and pricing of Estate Group Housing.Please find details here. Location Hyderabad</p></a></b> </li>
               <li><b><a href="#"><p style="color:maroon;font-size:14px;"> FAQ - Uppal Project </p></a></b></li>
               <li><b><a href="#"><p style="color:maroon;font-size:14px;">Budget Apartment Options in Attapur</p></a></b></li>
               <li><b><a href="#"><p style="color:maroon;font-size:14px;"> LB - Nagar Project - 2500 per Sqft </p></a></b></li>

           </ul>
                <h4 style="font-size:14px;"><b>General Information:</b></h4>
<ol>
    <li><p style="font-size:13px;">You can join the General Group for free in Whatsapp or any social media.</p></li>
    <li><p style="font-size:13px;">You can reach us at anytime anywhere whenever you need our help for suggestion or any queries.</p></li>
</ol>
                <p style="font-size:13px;color:blue;">For any question you can message me.Please fill details below so that we can have a confirmed discussion.</p>
            </div>
               <div class="col s4">
                   <i><h3 style="color:red">Pages</h3></i>
                   <hr color="green"">
                    <div class="collection">
        <a href="#!" class="collection-item">Avantika Pride - Attapur</a><br>
        <a href="#!" class="collection-item">Allu Arjun Pride - JBH</a><br>
        <a href="#!" class="collection-item">Pawan Kalyan Villa - JBH</a><br>
        <a href="#!" class="collection-item">Hari Om Villa - Masoorpet</a><br>
                        <a href="#!" class="collection-item">Naveen Villa - HiTech</a><br>
                        <a href="#!" class="collection-item">Nagarjuna Villa - Uppal</a>

      </div>

                      </div>
          </div>
        </div>
      </div>

{% endblock %}